* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a,.nav-link,.navbar-brand {
    color: rgb(245, 245, 245);
}

th, td {
    background-color: orange;
}
table, th, td {
  
  border: 1.1px solid black;
  border-collapse: collapse;
}
form{
    display: grid;
}
input {
    
    padding-left: 2px ;
    padding-right: 2px ;
    margin-left: 12px ;
    margin-right: 12px ;
  }
.col-12{
    margin-left: 14px;
    margin-top: 10px;
  }

hr{
    color: rgb(152, 150, 150);
}  

.col-sm-9{
  margin: 0px;
}


a {
    color: black;
    text-decoration: underline;
}

